.awesome {
    .section-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 122px 0;
        gap: 80px;
        .above {
          display: flex;
          flex-direction: column;
          gap: 50px;
          p {
            font-size: 14px;
            color: #86878B;
            font-weight: 300;
            text-align: center;
        }
          h2 {
            text-align: center;
            font-size: 2.25rem;
            position: relative;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 400;
            &::after {
                content: "";
                position: absolute;
                background: #E27866;
                bottom: -1rem;
                left: 50%;
                transform: translateX(-50%);
                width: 12%;
                height: 3px;
            }
          }
        }
       
        .below {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .svg-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                background: white;
                border: 1px solid #E27866;
                border-radius: 100%;
                svg {
                    width: 50%;
                    path {
                        fill: #E27866;
                    } 
                }
            }
          
            p {
                font-size: 14px;
                color: #86878B;
                font-weight: 300;
                text-align: center;
            }
            h3 {
                font-weight: 300;
                font-size: 20px;
            }
            .column {
                width: 25%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                gap: 50px;
            }
        }
    }
}