.hero {
  background: url(../images/photo-1480714378408-67cf0d13bc1b@2x.png);
  background-size: cover;
  background-position: center center;
  flex-direction: column;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1;
  }
  .section-inner {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 4rem 0 6rem 0;
    position: relative;
    z-index: 2;
    @include mobile-max {
      flex-direction: column;
      align-items: center;
      padding: 1rem 0 3rem 0;
      gap: 4rem;
    }
  }
  .section-left {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    gap: 2rem;
    @include mobile-max {
      max-width: 100%;
    }
    img {
      width: 250px;
      height: auto;
    }
    h1 {
      color: #fff;
      font-size: 2.25rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: #fff;
        bottom: -1rem;
        left: 5px;
        width: 60px;
        height: 3px;
      }
    }
    p {
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
    }
    a {
      display: inline-block;
      line-height: 1;
      border: 2px solid #fff;
      color: #fff;
      font-size: 0.8rem;
      text-decoration: none;
      padding: 8px 16px;
      text-transform: uppercase;
      font-weight: 600;
      align-self: flex-start;
    }
  }
  .section-right {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
    width: 360px;
    max-width: 100%;
    border-radius: 8px;
    @include mobile-max {
      align-self: center;
    }
    .form-heading {
      background: #f5f5f5;
      padding: 0.8rem 0.8rem;
      text-align: center;
      h3 {
        font-size: 20px;
        line-height: 1;
        span {
          color: red;
        }
      }
    }
    form {
      background: #fff;
      & > div {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      fieldset {
        border: none;
        &.radio {
          display: flex;
          gap: 20px;
          div {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
      legend {
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
    input[type="submit"] {
      width: 100%;
    }
  }
}
