.social {
  font-size: 14px;
  .section-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
  img {
    display: inline-block;
    width: auto;
    height: 30px;
  }
  .text {
    align-content: flex-start;
    width: 400px;
    h3 {
      color: #333;
      font-size: 1.2rem;
      padding-bottom: 8px;
    }
    p {
      font-size: 0.8rem;
      font-weight: 300;
      line-height: 1.6em;
      color: #86878b;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 110px;
  }
}
