$innerWidth: 1100px;
@import 'header';
@import 'body';
@import 'hero';
@import 'social';
@import 'tabs';
@import 'about';
@import 'awesome';
@import 'pricing';
@import 'contact';
@import 'footer';
@import 'customers';

main {
  margin-top: 77px;
}
section, 
header,
footer  {
  padding: 0 1rem;
}

.section-inner {
  max-width: $innerWidth;
  margin: 0 auto;
}


