$innerWidth: 1100px;
@import 'mixin';
@import 'header';
@import 'body';
@import 'hero';
@import 'social';
@import 'tabs';
@import 'about';
@import 'awesome';
@import 'pricing';
@import 'contact';
@import 'footer';
@import 'customers';


html {
  scroll-behavior: smooth;
}

main {
  margin-top: 77px;
  @include mobile-max {
    margin-top: 55px;
  }
}


section, 
header,
footer  {
  padding: 0 1rem;
}

.section-inner {
  max-width: $innerWidth;
  margin: 0 auto;
}



